<!-- Modal -->
<div class="fondo-modal" [class.oculto]="modalService.ocultarModal">
  <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="display: block;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nuevo Vehiculo</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="cerrarModal(vehiculoForm)"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #vehiculoForm="ngForm">
          <div class="modal-body">
              <div class="row">
                <div class="col">
                  <label for="placa">placa</label>
                  <input type="text" class="form-control" placeholder="Placa" name="placa" #placa="ngModel" [(ngModel)]="vehiculo.placa" id="placa" required/>
                  <p class="text-danger" *ngIf="!placa.valid && placa.touched">* La placa es obligatorio</p>
                </div>
                <div class="col">
                  <label for="color">color</label>
                  <input type="text" class="form-control" placeholder="Color" name="color" #color="ngModel" [(ngModel)]="vehiculo.color" id="color" required/>
                  <p class="text-danger" *ngIf="!color.valid && color.touched">* El color es obligatorio</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="marca">marca</label>
                  <input type="text" class="form-control" placeholder="Marca" name="marca" #marca="ngModel" [(ngModel)]="vehiculo.marca" id="marca" required/>
                  <p class="text-danger" *ngIf="!marca.valid && marca.touched">* La marca es obligatorio</p>
                </div>
                <div class="col">
                  <label for="tipo">tipo</label>
                  <select class="form-control" name="type_id" #type_id="ngModel" [(ngModel)]="vehiculo.type_id" id="type_id" required>
                    <option value="1">público</option>
                    <option value="2">privado</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="tipo">conductor</label>
                  <select class="form-control" name="driver_id" #driver_id="ngModel" [(ngModel)]="vehiculo.driver_id" id="driver_id" required>
                    <option *ngFor="let conductor of conductores" [value]="conductor.driver.id">{{conductor.driver.primer_nombre}} {{conductor.driver.apellidos}}</option>
                  </select>
                </div>
                <div class="col">
                  <label for="tipo">propietario</label>
                  <select class="form-control" name="owner_id" #owner_id="ngModel" [(ngModel)]="vehiculo.owner_id" id="owner_id" required>
                    <option *ngFor="let propietario of propietarios" [value]="propietario.owner.id">{{propietario.owner.primer_nombre}} {{propietario.owner.apellidos}}</option>
                  </select>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" (click)="cerrarModal(vehiculoForm)" class="btn btn-secondary" data-dismiss="modal">
              Cerrar
            </button>
            <button type="submit" (click)="guardarVehiculo(vehiculoForm)" [disabled]="!vehiculoForm.form.valid" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

