<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo Vehiculo</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col">
              <label for="placa">placa</label>
              <input type="text" class="form-control" placeholder="Placa" />
            </div>
            <div class="col">
              <label for="color">color</label>
              <input type="text" class="form-control" placeholder="Color" />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="marca">marca</label>
              <input type="text" class="form-control" placeholder="Marca" />
            </div>
            <div class="col">
              <label for="tipo">tipo</label>
              <select class="form-control">
                <option value="">--tipo vehiculo--</option>
                <option value="1">público</option>
                <option value="2">privado</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="tipo">conductor</label>
              <select class="form-control">
                <option value="">--conductor--</option>
                <option *ngFor="let conductor of conductores" [value]="conductor.driver.id">{{conductor.driver.primer_nombre}} {{conductor.driver.apellidos}}</option>
              </select>
            </div>
            <div class="col">
              <label for="tipo">propietario</label>
              <select class="form-control">
                <option value="">--propietario--</option>
                <option value="1">público</option>
                <option value="2">privado</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>
